<settings>
  <General_Properties>
    <showAbout value="true"/>
    <widthComponent value="600"/>
    <heightComponent value="300"/>
    <backgroundColor value="0x000000"/>
    <widthPlane value="75"/>
    <heightPlane value="45"/>
  </General_Properties>
  <Wall_Properties>
    <typeOfWall value="insideCurvature"/>
    <cameraPerspectiv value="50"/>
    <posX value="0"/>
    <posY value="0"/>
    <lines value="3"/>
    <columns value="10"/>
    <radius value="170"/>
    <spacingH value="12"/>
    <spacingV value="5"/>
    <speedMove value="1"/>
    <speedWheel value="5"/>
    <farDistFromWall value="200"/>
    <nearDistFromWall value="66"/>
  </Wall_Properties>
  <Loader_Properties>
    <typeLoader value="bottom"/>
    <funcLoader value="Back"/>
    <methLoader value="easeInOut"/>
    <timeLoader value="3"/>
  </Loader_Properties>
  <Reflection_Properties>
    <alpha value="44"/>
    <ratio value="163"/>
    <distance value="0"/>
  </Reflection_Properties>
  <Tweens_Images>
    <goToUrlOnClick value="false"/>
    <positionPlane value="wall"/>
    <funcCamera value="Quadratic"/>
    <methCamera value="easeOut"/>
    <timeCamera value="1.3"/>
    <funcPlane value="Linear"/>
    <methPlane value="easeOut"/>
    <timePlane value="1"/>
  </Tweens_Images>
  <Blur_Effect>
    <useBlur value="false"/>
    <blur value="2"/>
  </Blur_Effect>
  <Glow_Effect>
    <useGlow value="true"/>
    <useInner value="true"/>
    <glowStrength value="1"/>
    <glowColor value="0x000000"/>
    <glowAlpha value="1"/>
    <glow value="3"/>
  </Glow_Effect>
  <Glow_Effect_Near>
    <useGlow value="true"/>
    <useInner value="false"/>
    <glowStrength value="1"/>
    <glowColor value="0xffffff"/>
    <glowAlpha value="0.9"/>
    <glow value="5"/>
  </Glow_Effect_Near>
  <ToolTip_Properties>
    <toolOffSet value="center"/>
    <functionEasy value="Strong"/>
    <appearance value="center"/>
    <tweenTime value="0.3"/>
    <padding value="6"/>
    <backColor value="16777215"/>
    <backColor2 value="15658734"/>
    <backAlpha value="1"/>
    <cornerRadius value="3"/>
    <toolDistance value="10"/>
    <hookSize value="5"/>
    <borderThickness value="1"/>
    <borderColor value="16777215"/>
    <fontFace value="verdana"/>
    <fontColor value="0"/>
    <fontSize value="12"/>
  </ToolTip_Properties>
  <Scroll_Bar>
    <type_Bar value="MyBar/two/Bar.xml"/>
    <width value="400"/>
    <positionY value="262"/>
  </Scroll_Bar>
</settings>